{% extends "main.html" %}
{% block title %}Контакты{% endblock %}
            {% block menu1 %}
            <li><a href="/">Главная</a></li>
            {% endblock %}
            {% block menu3 %}
            <li class="active"><a href="/contacts">Контакты</a></li>
            {% endblock %}
<h3>{% block heading %}Контакты{% endblock %}</h3>
{% block content %}
<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
    <div class="contact">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <h4><strong>Хабибулин Марат Равилович</strong></h4>
                <p>индивидуальный предприниматель</p>
                    <p>Тел.: 89377908787</p>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="social">
                    <a href="https://vk.com/public166188090"><i class="fa fa-vk"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<p>У нас также есть <a href="vk.com/">сообщество ВКонтакте</a>.</p>
<p>Вы можете задать все интересующие вас вопросы в комментариях:</p>
{% endblock %}
