<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset='UTF-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body>
<iframe id="broskoweb" allowfullscreen="true" style="width: 100%; height: 100%; min-height:700px; border:0" src="https://broskokitchenplanner.com/clients/gracia-novo.ru/"></iframe><script>document.addEventListener('DOMContentLoaded', function () {var params = decodeURIComponent(window.location.search.substring(1));if(params !== ''){var bwframe = document.getElementById('broskoweb');bwframe.src=bwframe.src + "?"+params;}})</script>
</body>
</html>
