{% extends "main.html" %}
{% block title %}Корпусная мебель{% endblock %}
<h3>{% block heading %}Корпусная мебель{% endblock %}</h3>
{% block content %}
<p>
    Все виды моделей корпусной мебели могут быть изготовлены по индивидуальному проекту под Ваши размеры и в соответствии с Вашими предпочтениями, цветового 
    решения, функционального наполнения. Для того чтобы получить более подробную информацию о стоимости работ и возможностях нашей компании, свяжитесь с 
    нами по т. 8-937-790-87-87 или закажите обратный звонок.
</p>
<div class="row" style="text-align: center;">
	<a href="/mebel/mebel_korp/kuhni/kuhni_uglov" style="color: black;"><div class="col-sm-4">
		<img src="/static/images/mebel/1.jpg" class="img-thumbnail"></img>
		<div><b style="display: block; margin-bottom: 10px;">Кухни</b></div>
	</div></a>

	<a href="/mebel/mebel_korp/shkafi/shkaf-kupe" style="color: black;"><div class="col-sm-4">
		<img src="/static/images/mebel/2.jpg" class="img-thumbnail"></img>
		<div><b style="display: block; margin-bottom: 10px;">Шкафы-купе</b></div>
	</div></a>

	<a href="/mebel/mebel_korp/shkafi/gorki" style="color: black;"><div class="col-sm-4">
		<img src="/static/images/mebel/3.jpg" class="img-thumbnail"></img>
		<div><b style="display: block; margin-bottom: 10px;">Гостиные</b></div>
	</div></a>
</div>
<div class="row" style="text-align: center;">
	<a href="/mebel/mebel_korp/shkafi/prihozhie" style="color: black;"><div class="col-sm-4">
		<img src="/static/images/mebel/4.jpg" class="img-thumbnail"></img>
		<div><b style="display: block; margin-bottom: 10px;">Прихожие</b></div>
	</div></a>

	<a href="/mebel/mebel_korp/shkafi/garderobnie" style="color: black;"><div class="col-sm-4">
		<img src="/static/images/mebel/5.jpg" class="img-thumbnail"></img>
		<div><b style="display: block; margin-bottom: 10px;">Гардеробные</b></div>
	</div></a> 
</div>
{% endblock %}
