<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset='UTF-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="static/css/styles.css" rel="stylesheet">
    <link href="static/css/variables.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <title>{% block title %}Главная{% endblock %}</title>
</head>
<body>
<div class="wrapper">
<div class="content">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
<div class="container-fluid">
	<div class="row-row">
		<div class="col-md-6 col-md-offset-2 hidden-xs col-sm-6 col-sm-offset-2 col-lg-6 col-lg-offset-2">
            <p class="h3-gr">GRACIA</p>
            <p class="h4-lg">студия интерьерных решений</p>
        </div>
        <div class="col-lg-2 col-sm-2 col-md-2 hidden-xs">
			<p class="h3-head" align="right">89377908787</p>
            <div class="social" align="right">
            <a href="https://vk.com/public166188090"><i class="fa fa-vk"></i></a>
		    </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default" role="navigation">
     <!—Название сайта и кнопка раскрытия меню для мобильных-->
     <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
     <span class="sr-only">Toggle navigation</span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     </button>
     <div class="visible-xs col-xs-offset-2">
     <a class="navbar-brand" href="#">GRACIA</a>
     </div>
     </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="col-md-offset-2 col-xs-offset-0 col-sm-offset-2 col-lg-offset-2">
        <ul class="nav navbar-nav">
            {% block menu1 %}
            <li class="active"><a href="/">Главная</a></li>
            {% endblock %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                Услуги
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a tabindex="-1" href="/mebel">Мебель</a></li>
                <li><a tabindex="-1" href="/potolki">Потолки</a></li>
                <li><a tabindex="-1" href="/okna">Пластиковые окна</a></li>
            </ul>
            </li>
            {% block menu3 %}
            <li><a href="/contacts">Контакты</a></li>
            {% endblock %}
        </ul>
    </div>
    </div>
    </nav>
<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2 hidden-xs">
    <figure>
    <img src="static/images/heading3.jpg">
    </figure>
</div>
<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-sm-12 col-sm-offset-0">
<div id="heading">
<h3>{% block heading %}Главная{% endblock %}</h3>
</div>
<div id="content">
{% block content %}
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.</p>
    {% endblock %}
</div>
</div>
</div>
<div class="push"></div>
	<div class="footer">
        <div class="row">
            <div class="col-md-6 col-md-offset-2 col-sm-6 col-sm-offset-2 col-lg-6 col-lg-offset-2 hidden-xs">
            Разработка сайта: Раис Хабибулин
		</div>
        <div class="col-md-2 col-sm-2 col-lg-2 hidden-xs" align="right">
            2018
        </div>
        <div class="col-xs-2 col-xs-offset-2 visible-xs">
            2018
        </div>
        </div>
	</div>
</div>
</body>
</html>
