<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset='UTF-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="/static/css/variables.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
    <title>{% block title %}Главная{% endblock %} | Студия интерьерных решений "GRACIA"</title>
    <meta name="description" content="Компания "GRACIA" занимается изготовлением и
    проектирование корпусной и мягкой мебели, а также монтажными работами (установка натяжных потолков
    и оконных конструкций, остекление балконов и лоджий и т.д.). Низкие цены, индивидуальный
    подход к клиенту! Звоните по телефону: +7 (937) 790-87-87 (г. Новокуйбышевск).">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120360401-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-120360401-1');  
    </script>

</head>
<body>
<div class="wrapper">
    <div class="content">
        <script src="//code.jquery.com/jquery-latest.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <div class="container-fluid">
            <div class="row-row">
                <div class="hidden-xs col-sm-6 col-sm-offset-2">
                    <p class="h3-gr">GRACIA</p>
                    <p class="h4-lg">студия интерьерных решений</p>
                </div>
                <div class="col-sm-2 hidden-xs">
                    <p class="h3-head" align="right">89377908787</p>
                    <div class="social" align="right">
                    <a href="https://vk.com/gracianovo"><i class="fa fa-vk"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default" role="navigation">
             <!—Название сайта и кнопка раскрытия меню для мобильных-->
             <div class="navbar-header">
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
                 <div class="visible-xs col-xs-offset-2">
                     <a class="navbar-brand" href="/">GRACIA</a>
                 </div>
             </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="col-xs-offset-0 col-sm-offset-2">
                    <ul class="nav navbar-nav">
                        {% block menu1 %}
                        <li class="active"><a href="/">Главная</a></li>
                        {% endblock %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Услуги<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
				<li class="dropdown visible-xs"><a tabindex="-1" href="/mebel">Мебель</a>
                                <li class="dropdown-submenu hidden-xs"><a tabindex="-1" href="/mebel">Мебель</a>
					<ul class="dropdown-menu hidden-xs">
						<li class="dropdown-submenu"><a tabindex="-1" href="#">Корпусная</a>
							<ul class="dropdown-menu">
								<li class="dropdown-submenu"><a tabindex="-1" href="#">Кухни</a>
									<ul class="dropdown-menu">
										<li><a tabindex="-1" href="#">Фасады</a></li>
										<li><a tabindex="-1" href="#">Угловые кухни</a></li>
										<li><a tabindex="-1" href="#">Прямые кухни</a></li>
									</ul>
								</li>
								<li class="dropdown-submenu"><a tabindex="-1" href="#">Шкафы</a>
									<ul class="dropdown-menu">
										<li><a tabindex="-1" href="#">Шкафы-купе</a></li>
										<li><a tabindex="-1" href="#">Прихожие</a></li>
										<li><a tabindex="-1" href="#">Горки</a></li>
										<li><a tabindex="-1" href="#">Гардеробные</a></li>

									</ul>
								</li>
							</ul>
						</li>
						<li class="dropdown-submenu"><a tabindex="-1" href="#">Мягкая</a>
							<ul class="dropdown-menu">
								<li><a tabindex="-1" href="#">Прямые диваны</a></li>
								<li><a tabindex="-1" href="#">Угловые диваны</a></li>
								<li><a tabindex="-1" href="#">Детские диваны</a></li>
								<li><a tabindex="-1" href="#">Зоны отдыха</a></li>
							</ul>
						</li>
						<li class="dropdown-submenu"><a tabindex="-1" href="#">Хром-мебель</a>
							<ul class="dropdown-menu">
								<li><a tabindex="-1" href="#">Столы</a></li>
								<li><a tabindex="-1" href="#">Стулья</a></li>
								<li><a tabindex="-1" href="#">Табуретки</a></li>
								<li><a tabindex="-1" href="#">Кухонные углы</a></li>
								<li><a tabindex="-1" href="#">Барные стулья</a></li>
							</ul>
						</li>
					</ul>
				</li>
                                <li><a tabindex="-1" href="/potolki">Натяжные потолки</a></li>
                                <li><a tabindex="-1" href="/okna">Пластиковые окна</a></li>
                            </ul>
                        </li>
                        {% block menu3 %}
                        <li><a href="/contacts">Контакты</a></li>
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="col-sm-8 col-sm-offset-2 hidden-xs">
            <figure>
            <img src="/static/images/heading3.jpg">
            </figure>
        </div>
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0">
            <div id="heading">
                <h3>{% block heading %}Главная{% endblock %}</h3>
            </div>
            <div id="content">
                {% block content %}
                    <p>Добро пожаловать на страницу компании "GRACIA"!</p>
                    <p>Сферой деятельности нашей компании является проектирование и изготовление 
		    корпусной мебели (кухонных гарнитур, шкафов, гардеробных и т.д.), 
		    мягкой мебели (угловых, модульных диванов; кресел, кроватей, зон отдыха),
		    а также монтажные работы: сборка мебели, установка натяжных потолков,
		    установка оконных конструкций, остекление и отделка балконов и лоджий.
                    </p>
                <p>Нашей особенностью является индивидуальный подход к каждому клиенту. В проектировании и
                    создании мебели участвует и сам заказчик, принимаются во внимание все его пожелания и правки.</p>
                <p>У нас имеется большой ассортимент образцов используемого материала при изготовлении мебели, натяжных
                    потолков и оконных конструкций. Все используемые материалы сертифицированы и отвечают требованиям
                    безопасности здоровья человека. В коллективе работают опытные монтажники. Мы предлагаем
                    гарантию на продукцию и выполненные работы.</p>
                    {% endblock %}
            </div>
        </div>
    </div>
    <div class="push"></div>
        <div class="footer">
            <div class="row">
                <div class="col-xs-offset-2">
                    2018
                </div>
            </div>
        </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
</body>
</html>
