<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset='UTF-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="/static/css/variables.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
    <title>{% block title %}Главная{% endblock %} | Студия интерьерных решений "GRACIA"</title>
    <meta name="description" content="Компания "GRACIA" занимается изготовлением и
    проектирование корпусной и мягкой мебели, а также монтажными работами (установка натяжных потолков
    и оконных конструкций, остекление балконов и лоджий и т.д.). Низкие цены, индивидуальный
    подход к клиенту! Звоните по телефону: +7 (937) 790-87-87 (г. Новокуйбышевск).">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,800&amp;subset=cyrillic" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Oswald:500&amp;subset=cyrillic" rel="stylesheet"> 
    <link rel="icon" href="/static/images/logotype/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/images/logotype/favicon.ico" type="image/x-icon" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120360401-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-120360401-1');  
    </script>
    {% block head %}{% endblock %}
    <meta name="yandex-verification" content="53cf619540dbf98a" />
</head>
<body>
<div class="wrapper">
    <div class="content">
        <script src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/jquery-gracia.js"></script>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
	    (function (d, w, c) {
		(w[c] = w[c] || []).push(function() {
		    try {
		        w.yaCounter50258629 = new Ya.Metrika({
		            id:50258629,
		            clickmap:true,
		            trackLinks:true,
		            accurateTrackBounce:true,
		            webvisor:true
		        });
		    } catch(e) { }
		});

		var n = d.getElementsByTagName("script")[0],
		    s = d.createElement("script"),
		    f = function () { n.parentNode.insertBefore(s, n); };
		s.type = "text/javascript";
		s.async = true;
		s.src = "https://mc.yandex.ru/metrika/watch.js";

		if (w.opera == "[object Opera]") {
		    d.addEventListener("DOMContentLoaded", f, false);
		} else { f(); }
	    })(document, window, "yandex_metrika_callbacks");
	</script>
<noscript><div><img src="https://mc.yandex.ru/watch/50258629" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
        <script src="/static/js/bootstrap.min.js"></script>
        <div class="container-fluid">
        <div class="row">
        <div class="centered">
        <nav class="navbar navbar-default" role="navigation">
             <!—Название сайта и кнопка раскрытия меню для мобильных-->
             <div class="navbar-header" style="height: 60px;">
	    	<div class="col-xs-3 hidden-sm hidden-md hidden-lg">
		<menu-logo-container>	
	   	 <a href="/" title="на главную"><img src="/static/images/logo-one-line.svg" style="min-width:110px; max-width: 140px;"></img></a>
		</menu-logo-container>
                 </div>
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
             </div>
            <div class="container-fluid">
		<div class="row"> 
	    <div class="hidden-xs" style="padding-right: 7px; padding-left: 15px; width: 150px; display: block; float: left;">
		<menu-logo-container>	
	    <a href="/" title="на главную"><img src="/static/images/logo-one-line.svg"></img></a>
		</menu-logo-container>
	    </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="">
		<div class="container-fluid">
                    <ul class="nav navbar-default navbar-nav">
			<li class="hidden-xs"><a href="/">Главная</a></li>
			<li class="dropdown drop-together hidden-xs">
				<a href="" class="dropdown-toggle" data-toggle="dropdown">Услуги<span class="caret"></span></a>
			</li>
		                <li class="dropdown visible-xs">
		                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Кухни<span class="caret"></span>
		                    </a> 
		                    <ul class="dropdown-menu">
						<li><a href="/mebel/mebel_korp/kuhni/kuhni_uglov">Угловые</a></li>
						<li><a href="/mebel/mebel_korp/kuhni/kuhni_pryamie">Прямые</a></li>
						<li><a href="/mebel/mebel_korp/kuhni/fasadi">Фасады</a></li>
		                    </ul>
		                </li>
				<li class="dropdown visible-xs">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Шкафы<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/mebel/mebel_korp/shkafi/shkaf-kupe">Шкафы-купе</a></li>
							<li><a href="/mebel/mebel_korp/shkafi/prihozhie">Прихожие</a></li>
							<li><a href="/mebel/mebel_korp/shkafi/gorki">Горки</a></li>
							<li><a href="/mebel/mebel_korp/shkafi/garderobnie">Гардеробные</a></li>
						</ul>
				</li>
				<li class="dropdown visible-xs">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Диваны<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/mebel/mebel_myagk/divani_pryamie">Прямые</a></li>
							<li><a href="/mebel/mebel_myagk/divani_uglov">Угловые</a></li>
							<li><a href="/mebel/mebel_myagk/divani_uglov_kuhonnie">Угловые кухонные</a></li>
							<li><a href="/mebel/mebel_myagk/divani_detskie">Детские</a></li>
						</ul>
				</li>
				<li class="dropdown visible-xs">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Хром-мебель<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/mebel/mebel_chrom/stoli">Столы</a></li>
							<li><a href="/mebel/mebel_chrom/stulya">Стулья</a></li>
							<li><a href="/mebel/mebel_chrom/taburetki">Табуретки</a></li>
							<li><a href="/mebel/mebel_chrom/obed_zoni">Обеденные зоны</a></li>
							<li><a href="/mebel/mebel_chrom/stulya_barnie">Барные стулья</a></li>	
						</ul>
				</li>
				<li class="visible-xs"><a href="/potolki">Натяжные потолки</a></li>
				<li class="visible-xs"><a href="/okna">Пластиковые окна</a></li>
			<li><a href="/create">Конструктор</a></li>
			<li><a href="/production">Производство</a></li>
                        <li><a href="/contacts">Контакты</a></li>
                    </ul>
			<div class="hidden-xs" style="display: block; float: right;">
	                	<div class="social" align="right">
        	        		<a href="https://vk.com/gracianovo" title="группа во Вконтакте"><i class="fa fa-vk"></i></a>
              	        	</div>
            		</div>
		</div>
	</div>
		
		</div> 
	<div class="row">
	<gr-men id="panel">
			<div class="panel-left">
				<li><a>Мебель</a></li>
				<li><a href="/potolki">Натяжные потолки</a></li>
				<li><a href="/okna">Пластиковые окна</a></li>
			</div>
			<div class="vertical-divider"></div>
			<div class="panel-right">
				<p>Выберите услугу слева</p>
				<ul-block>
					<ul>
						<li class="active"><a>Корпусная мебель</a></li>
							<pair-block>
								<titles>
									<li><a>Кухни</a></li>
									<li><a>Шкафы</a></li>
								</titles>
								<div class="pair">
									<li><a href="/mebel/mebel_korp/kuhni/kuhni_uglov">Угловые</a></li>
									<li><a href="/mebel/mebel_korp/kuhni/kuhni_pryamie">Прямые</a></li>
									<li><a href="/mebel/mebel_korp/kuhni/fasadi">Фасады</a></li>
								</div>
								<div class="pair">
									<li><a href="/mebel/mebel_korp/shkafi/shkaf-kupe">Шкафы-купе</a></li>
									<li><a href="/mebel/mebel_korp/shkafi/prihozhie">Прихожие</a></li>
									<li><a href="/mebel/mebel_korp/shkafi/gorki">Горки</a></li>
									<li><a href="/mebel/mebel_korp/shkafi/garderobnie">Гардеробные</a></li>
								</div>

							</pair-block>					
					</ul>		
					<ul>
						<li class="active"><a>Диваны</a></li>
						<li><a href="/mebel/mebel_myagk/divani_pryamie">Прямые</a></li>
						<li><a href="/mebel/mebel_myagk/divani_uglov">Угловые</a></li>
						<li><a href="/mebel/mebel_myagk/divani_uglov_kuhonnie">Угловые кухонные</a></li>
						<li><a href="/mebel/mebel_myagk/divani_detskie">Детские</a></li>
					</ul>
					<ul>
						<li class="active"><a>Хром-мебель</a></li>
							<li><a href="/mebel/mebel_chrom/stoli">Столы</a></li>
							<li><a href="/mebel/mebel_chrom/stulya">Стулья</a></li>
							<li><a href="/mebel/mebel_chrom/taburetki">Табуретки</a></li>
							<li><a href="/mebel/mebel_chrom/obed_zoni">Обеденные зоны</a></li>
							<li><a href="/mebel/mebel_chrom/stulya_barnie">Барные стулья</a></li>	
					</ul>
				</ul-block>
			</div>
		</gr-men> 
	</div>   
	</nav>
	
        </div>
        </div>
        </div>

  <!--      <div class="centered">
            <figure>
            <img src="/static/images/heading3.jpg">
            </figure>
        </div> -->
	<div class="centered">
	<!-- Bootstrap 3 -->
{% block top %}
	<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="2000">
	  <!-- Индикаторы -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel" data-slide-to="1"></li>
	    <li data-target="#carousel" data-slide-to="2"></li>
	    <li data-target="#carousel" data-slide-to="3"></li>
	    <li data-target="#carousel" data-slide-to="4"></li>
	    <li data-target="#carousel" data-slide-to="5"></li>
	  </ol>
	  <div class="carousel-inner">
	    <div class="item active">
	      <img src="/static/images/main/1.jpg" alt="...">
	    </div>
	    <div class="item">
	      <img src="/static/images/main/2.jpg" alt="...">
	    </div>
	    <div class="item">
	      <a href="/okna"><img src="/static/images/main/3.jpg" alt="..."></a>
	    </div>
	    <div class="item">
	      <a href="/okna"><img src="/static/images/main/4.jpg" alt="..."></a>
	    </div>
	    <div class="item">
	      <a href="/potolki"><img src="/static/images/main/5.jpg" alt="..."></a>
	    </div>
	    <div class="item">
	      <img href="/potolki" src="/static/images/main/6.jpg" alt="...">
	    </div>
	  </div>
	  <!-- Элементы управления -->
	  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Предыдущий</span>
	  </a>
	  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Следующий</span>
	  </a>
	</div>
{% endblock %}
	</div>
        <div class="centered">
            <div id="content" class="centered">
		        <div id="heading">
		            <h3>{% block heading %}О нашей компании{% endblock %}</h3>
		        </div>		
		            {% block content %}
		                <p>Добро пожаловать на страницу компании "GRACIA"!</p>
		                <p>Сферой деятельности нашей компании является проектирование и изготовление 
					корпусной мебели (кухонных гарнитур, шкафов, гардеробных и т.д.), 
					мягкой мебели (угловых, модульных диванов; кресел, кроватей, зон отдыха),
					а также монтажные работы: сборка мебели, установка натяжных потолков,
					установка оконных конструкций, остекление и отделка балконов и лоджий.
		                </p>
		            <p>Нашей особенностью является индивидуальный подход к каждому клиенту. В проектировании мебели участвует и сам заказчик, принимаются во внимание все его пожелания и правки.</p>
		            <p>У нас имеется большой ассортимент образцов используемого материала при изготовлении мебели, натяжных
		                потолков и оконных конструкций. Все используемые материалы сертифицированы и отвечают требованиям
		                безопасности здоровья человека. В коллективе работают опытные монтажники. Мы предлагаем
		                гарантию на продукцию и выполненные работы.</p>
<!--					<p style="color: black;"><strong>Вы можете воспользоваться <pb style="text-decoration: underline">бесплатным</pb> конструктором кухонь для создания своей идеальной кухни, а затем отправить
					проект на расчет без посещения офиса. В скором времени Вы получите ответ от нашего специалиста.</strong></p>
					<p><strong><a style="color:green; text-decoration: underline;" href="/create">Кликните, чтобы попробовать</a></strong></p>
					<a href="/create"><img src="/static/images/kuhnya_planner.png" style="width:100%; margin-top: 10px;" title="создайте кухню своей мечты"></img></a>
-->
				<div id="heading">
		            <h3>Почему мы?</h3>
		        </div>
				<div class="row" style="text-align: center; margin-bottom: 30px;">
					<div class="main-pic">
						<img class="img-circle" src="/static/images/main/guarantee.jpg" width="150px" height="125px"></img>
						<div><b>Высокое качество</b></div>
						<div><p>Мы заботимся о наших клиентах и гарантируем лучшее качество.</p></div>
					</div>

					<div class="main-pic">
						<img class="img-circle" src="/static/images/main/price.png" width="150px", height="125px"></img>
						<div><b>Низкая цена</b></div>
						<div><p>Мы всегда готовы предложить своим клиентам одни из лучших цен.</p></div>
					</div>

					<div class="main-pic">
						<img class="img-circle" src="/static/images/main/time.png" width="150px", height="125px"></img>
						<div><b>Минимальные сроки</b></div>
						<div><p>Постепенно работаем над увеличением скорости выполнения заказов.</p></div>
					</div>
				</div>
				<div id="heading">
		            <h3>Наши товары</h3>
		        </div>
				<div class="row" style="text-align: center; margin-bottom: 30px;">
					<a href="/potolki" style="color: black;"><div class="main-pic">
						<img class="img-circle" src="/static/images/main/potolki.jpg" width="150px", height="125px"></img>
						<div><b>Потолки</b></div>
					</div></a>

					<a href="/okna" style="color: black;"><div class="main-pic">
						<img class="img-circle" src="/static/images/main/okna.jpg" width="150px", height="125px"></img>
						<div><b>Окна</b></div>
					</div></a>

					<a href="/korp_meb" style="color: black;"><div class="main-pic">
						<img class="img-circle" src="/static/images/main/korp_meb.jpg" width="150px", height="125px"></img>
						<div><b>Корпусная мебель</b></div>
					</div></a>
					<a href="/myagk_meb" style="color: black;"><div class="main-pic">
						<img class="img-circle" src="/static/images/main/m_meb.jpg" width="150px", height="125px"></img>
						<div><b>Мягкая мебель</b></div>
					</div></a>
				</div>
				<div id="heading">
				    	<h3>Наши отзывы</h3>
				</div>
				<div class="pic-row">
					<div class="main-pic" style="display: inline-block; width: 150px; vertical-align: middle; margin: 5px;">
						<img class="img-circle" src="/static/images/main/comment3.png" width="125px" height="125px"></img>
						<b>Зинаида (г. Новокуйбышевск)</b>
					</div>
					<comment-field>Ответственная компания! В срок и качественно выполнили свою работу. Спасибо вам и удачи!
					Стоимость услуг в целом приемлимая.</comment-field>
					<div class="main-pic" style="display: inline-block; width: 150px; vertical-align: middle; margin: 5px;">
						<img class="img-circle" src="/static/images/main/comment2.jpg" width="125px", height="125px"></img>
						<b>Ольга (г. Чапаевск)</b>
					</div>
					<comment-field>Мои знакомые посоветовали мне эту фирму, хвалили и только лестно отзывались. Я тоже оказалась 
					довольна результатом! Все сделали на высоком уровне.</comment-field>

					<div class="main-pic" style="display: inline-block; width: 150px; vertical-align: middle; margin: 5px;">
						<img class="img-circle" src="/static/images/main/comment1.png" width="125px", height="125px"></img>
						<b>Лариса (г. Самара)</b>
					</div>
					<comment-field>Не перестаю удивляться профессионализму этой компании. Недавно посоветовала их своей подруге.</comment-field>
				</div>
				<div style="position: relative; display: inline-block; width: 100%;">
					<div class="contacts">
						<div id="heading" style="width: 100%; margin-left: 0px; ">
							<h3>Карта</h3>
						</div>
						<iframe style="padding: 5px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d494.245206168256!2d49.95574736383877!3d53.09967561480984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4168a472fd7a2539%3A0x8ed70133a6199de!2sGRACIA!5e1!3m2!1sru!2sru!4v1532276292666" width="100%" height="400px" frameborder="0" style="border:0; margin-bottom: 10px;" allowfullscreen></iframe>
					</div>
					<div class="map">
							<div id="heading">
								<h3>Контакты</h3>
							</div>
							<div style="width: 100%; display: block;">
							    <div class="contact">
								    <div style="width: 100%; display: block;">
									<h4><strong>Хабибулин Марат Равилович</strong></h4>
									<p>индивидуальный предприниматель</p>
									    <p>Тел.: 8-800-201-50-87</p>
								    </div>
								    <div style="width: 100%; display: block;">
									<div class="social">
									    <a href="https://vk.com/gracia632018"><i class="fa fa-vk"></i></a>
									</div>
								    </div>
							    </div>
							</div>
							<p>Офис компании "GRACIA" расположен по адресу:</p>
							<div style="width: 100%; display: block;">
								<div class="contact">
									<h4></h4>
									<p>Самарская область, г. Новокуйбышевск, ул. Горького, д. 43В</p>
									<h4></h4>
								</div>
							</div>
					</div>
				</div>
                    {% endblock %}
        	</div>
		</div>
   </div>
    <div class="push"></div>
    <div class="centered">
        <div class="footer">
            <p>2018-2019</p>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'escAhDyJwT';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->

<!— BEGIN TALKER24 CODE {literal} —>
<script>(function () {var widget_id = 633;var d = document;var w = window;function l() {var parentElem = document.body; var elem = d.createElement('div');
elem.id = 'widget'; var widgetIdInput = document.createElement('input'); widgetIdInput.type = 'hidden'; widgetIdInput.id = 'widget_id'; widgetIdInput.value = widget_id; parentElem.appendChild(elem); parentElem.insertBefore(widgetIdInput,elem);var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.charset='utf-8'; s.src = '//talker24.ru/widget/js/widget.js';
parentElem.appendChild(s);}if(d.readyState=='complete'){l();
} else {if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!— {/literal} END TALKER24 CODE —> 

<!-- <link rel="stylesheet" href="https://cdn.envybox.io/widget/cbk.css">
<script type="text/javascript" src="https://cdn.envybox.io/widget/cbk.js?wcb_code=4c357991b6c98bb57a4f5223ad261829" charset="UTF-8" async></script> -->

<!-- RedConnect -->
<script id="rhlpscrtg" type="text/javascript" charset="utf-8" async="async"
src="https://web.redhelper.ru/service/main.js?c=rai5690"></script>
<div style="display: none"><a class="rc-copyright" 
href="http://redconnect.ru">Сервис обратного звонка RedConnect</a></div> 
<!--/RedConnect -->
</body>
</html>
