{% extends "main.html" %}
{% block title %}Мебель{% endblock %}
            {% block menu1 %}
            <li><a href="/">Главная</a></li>
            {% endblock %}
            {% block menu3 %}
            <li><a href="/contacts">Контакты</a></li>
            {% endblock %}
<h3>{% block heading %}Мебель{% endblock %}</h3>
{% block content %}
<p>
    Неотъемлемой частью полноценной и комфортной жизни человека являются интерьер,
    обустройство быта. Важную роль играет то, какая у него стоит мебель на кухне, в
    гостинной, в спальне, на каких стульях он обедает и на каком диване общается с
    гостями. Наша компания предлагает большой выбор мебели. Корпусная мебель проектируется
    по размерам заказчика. Заказчик присутствует при создании модели и может увидеть свою
    будущую мебель в 3D на мониторе.
</p>
<p>
    На сайте представлены образцы мебели компаний "STOP-мебель", "KamiAl", "Stolprom",
    "M-Мастер", "Ренессанс", с которыми мы тесно сотрудничаем.
</p>
{{ pic_code|safe }}
{% endblock %}
