{% extends "main.html" %}
{% block title %}{{title}}{% endblock %}
<h3>{% block heading %}{{title}}{% endblock %}</h3>
{% block content %}
<p>
    Неотъемлемой частью полноценной и комфортной жизни человека являются интерьер,
    обустройство быта. Важную роль играет то, какая у него стоит мебель на кухне, в
    гостиной, в спальне, на каких стульях он обедает и на каком диване общается с
    гостями. Наша компания предлагает большой выбор мебели. Корпусная мебель проектируется
    по размерам заказчика. Заказчик присутствует при создании модели и может увидеть свою
    будущую мебель в 3D на мониторе.
</p>
<p>
    На сайте представлены образцы мебели компаний "STOP-мебель", "KamiAl", "Stolprom",
    "Мастер", "Ренессанс", с которыми мы тесно сотрудничаем.
</p>
<p><i>
    Чтобы увеличить изображение, нажмите на него:
</b></i>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(54421687, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/54421687" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{{ pic_code|safe }}
{% endblock %}
