{% extends "main.html" %}
{% block title %}Корпусная мебель{% endblock %}
<h3>{% block heading %}Корпусная мебель{% endblock %}</h3>
{% block content %}
<p>
    Все виды моделей мягкой мебели могут быть изготовлены по индивидуальному проекту под Ваши размеры и в соответствии с Вашими предпочтениями, цветового 
    решения, функционального наполнения. Для того чтобы получить более подробную информацию о стоимости работ и возможностях нашей компании, свяжитесь с 
    нами по т. 8-937-790-87-87 или закажите обратный звонок.
</p>
<div class="row" style="text-align: center;">
	<a href="/mebel/mebel_myagk/divani_pryamie" style="color: black;"><div class="col-sm-4">
		<img src="/static/images/mebel/6.jpg" class="img-thumbnail"></img>
		<div><b style="display: block; margin-bottom: 10px;">Прямые диваны</b></div>
	</div></a>

	<a href="/mebel/mebel_myagk/divani_uglov" style="color: black;"><div class="col-sm-4">
		<img src="/static/images/mebel/7.jpg" class="img-thumbnail"></img>
		<div><b style="display: block; margin-bottom: 10px;">Угловые диваны</b></div>
	</div></a>

	<a href="/mebel/mebel_myagk/divani_uglov_kuhonnie" style="color: black;"><div class="col-sm-4">
		<img src="/static/images/mebel/8.jpg" class="img-thumbnail"></img>
		<div><b style="display: block; margin-bottom: 10px;">Угловые кухонные диваны</b></div>
	</div></a>
</div>
<div class="row" style="text-align: center;">
	<a href="/mebel/mebel_myagk/divani_detskie" style="color: black;"><div class="col-sm-4">
		<img src="/static/images/mebel/9.jpg" class="img-thumbnail"></img>
		<div><b style="display: block; margin-bottom: 10px;">Детские</b></div>
	</div></a>

{% endblock %}
