{% extends "main.html" %}
{% block title %}Натяжные потолки{% endblock %}
            {% block menu1 %}
            <li><a href="/">Главная</a></li>
            {% endblock %}
            {% block menu3 %}
            <li><a href="/contacts">Контакты</a></li>
            {% endblock %}
<h3>{% block heading %}Натяжные потолки{% endblock %}</h3>
{% block content %}
<p>Никакой современный ремонт и отделочные
    работы в квартире или коттедже не обходится без натяжных потолков. Компания "Gracia" много лет занимается
    установкой натяжных потолков. Также, как и при моделировании мебели, заказчик может увидеть
    свой будущий потолок на мониторе в формате 3D. Мы имеем большой набор используемых цветов и
    фактур. Используемые материалы сертифицированы. В компании работают высококвалифицированные
    монтажники. Гарантия на потолки и монтажные работы - 10 лет.</p>
{{ pic_code|safe }}
{% endblock %}
