{% extends "main.html" %}
{% block title %}Натяжные потолки{% endblock %}
<h3>{% block heading %}Натяжные потолки{% endblock %}</h3>
{% block top %}
	<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="2000">
	  <!-- Индикаторы -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel" data-slide-to="1"></li>
	    <li data-target="#carousel" data-slide-to="2"></li>
	    <li data-target="#carousel" data-slide-to="3"></li>
	    <li data-target="#carousel" data-slide-to="4"></li>
	  </ol>
	  <div class="carousel-inner">
	    <div class="item active">
	      <img src="//s3.us-east-2.amazonaws.com/gracia-novo/static/images/potolki/top/1.jpg" alt="...">
	    </div>
	    <div class="item">
	      <img src="//s3.us-east-2.amazonaws.com/gracia-novo/static/images/potolki/top/2.jpg" alt="...">
	    </div>
	    <div class="item">
	      <img src="//s3.us-east-2.amazonaws.com/gracia-novo/static/images/potolki/top/3.jpg" alt="...">
	    </div>
	    <div class="item">
	      <img src="//s3.us-east-2.amazonaws.com/gracia-novo/static/images/potolki/top/4.jpg" alt="...">
	    </div>
	    <div class="item">
	      <img src="//s3.us-east-2.amazonaws.com/gracia-novo/static/images/potolki/top/5.jpg" alt="...">
	    </div>
	  </div>
	  <!-- Элементы управления -->
	  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Предыдущий</span>
	  </a>
	  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Следующий</span>
	  </a>
	</div>
{% endblock %}
{% block content %}
<p>Никакой современный ремонт и отделочные
    работы в квартире или коттедже не обходится без натяжных потолков. Компания "Gracia" много лет занимается
    установкой натяжных потолков. При заказе двухуровнего потолка заказчик может увидеть
    свой будущий потолок на мониторе в формате 3D. Мы имеем большой набор используемых цветов и
    фактур. Используемые материалы сертифицированы. В компании работают высококвалифицированные
    монтажники. Гарантия на потолки и монтажные работы - 10 лет.</p>
<div class="price" style="margin-top: 10px; background-color: #faf3e8;">
  <div class="calc_title" style="color: red; font-size: 22px;">Расчет стоимости потолка</div>
    <div id="calculator" class="calculator">
    <table>
        <colgroup>
            <col width="70%">
            <col width="30%">
        </colgroup>
        <tbody><tr class="required">
            <td>Площадь потолка</td>
            <td><input name="area" value="10" type="text"></td>
            <td>м<sup>2</sup></td>
        </tr>
        <tr class="required">
            <td>Фактура</td>
            <td colspan="2">
                <select name="texture">
                    <option value="mat">Матовый</option>
                    <option value="glossy">Глянцевый</option>
                    <option value="satin">Сатиновый</option>
                    <option value="fabric">Цветной</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Общее количество углов</td>
            <td><input name="corners" value="4" type="text"></td>
            <td>шт.</td>
        </tr>
        <tr>
            <td>Установка люстры</td>
            <td><input name="chandelier-hook" value="" type="text"></td>
            <td>шт.</td>
        </tr>
        <tr>
            <td>Установка встраиваемого светильника</td>
            <td><input name="lamp" value="" type="text"></td>
            <td>шт.</td>
        </tr>
        <tr>
            <td>Обход трубы, уходящей в потолок</td>
            <td><input name="tube" value="" type="text"></td>
            <td>шт.</td>
        </tr>
    </tbody></table>
 
    <div class="total result">
    Примерная стоимость: <span class="total">2990 руб.</span>
    </div>
    </div>
</div>
{{ pic_code|safe }}
{% endblock %}

