@import "less/bootstrap.less";
@import "variables.less";
.row-row{
  margin-left: -15px;
  margin-right: -15px;
  background-color: #F8F8F8;
}
.footer {
  background: #000000;
  padding: 10px 0px;
  color: white;
}

.social a {
  color: blue;
  font-size: 40px;
 /* padding: 10px; */
  transition: all .5s ease;
}
.social a:hover {
  color: black;
}


.navbar-default {
  background-color: #000000;
  border-color: #f8f8f8;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #FFFFFF;
  background-color: #545449;
}
